.grey DIV {

	padding-top: 30px;
  padding-bottom: 30px;
	padding-left: 35px;
  padding-right: 35px;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
	/* background-color: #c4c4c4; */

}

.preview {
	font-family: 'Crimson Text', serif; color: grey; padding-left: 10px; padding-right: 10px;
  }

.content {
	word-wrap: break-word;
  color: white;
  font-size: 15px;
}
/* change color later */

.header {
  
    font-size: 16px;
    color: #8f8f8f;
    ;
  }

img {
  padding-bottom: 20px;
}

.content p,h1,h2,h3,h4 {
    color: #8f8f8f;
    
  }

.content ul {
  padding-left: 40px;
  color: #8f8f8f;
  
}

.content ul li {
  list-style-type: disc;
  color: #8f8f8f;
  
}

ul li li {
  background-color: blue;
}


.starter:first-letter {
   
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
