.preview {
  font-family: 'Crimson Text', serif; color: grey; padding-left: 10px; padding-right: 10px;
}

  .preview {
    word-wrap: break-word;
    white-space: initial;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    background-color: lightgray;
  }

  .indent {
    text-indent: 40px;
  }

  .header {
    text-decoration: underline;
    font-size: 18px;
  }

  h1,h2,h3,h4 {
    color: grey;
  }

  .top {
    padding-top: 10px;
  }
  .returnLink {
    color:gray;
  }

  .starter:first-letter {
   
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}