.ant-input {
    border-color: #D9D9D9;
}

.input-control Input {
    background-color: transparent!important;
    color: white!important;
}

.input-control Input:hover{
    border-color: white!important;
}

.input-control Input:active{
    border-color: white!important;
}

.input-control Input::placeholder {
    background-color: transparent!important;
    color: white!important;
}

.mr-0 {
    margin-right: 0px!important;
}

.ml-0 {
    margin-left: 0px!important;
}

@media screen and (max-width: 550px) {
    .div {
        display: inline!important;
        width: 400px!important;
    }
    
}